body, html {
	font: 12px sans-serif;
	padding: 0px;
	margin: 0px;
	width: 320px;
}

.body {
	font: 12px sans-serif;
	margin: 5px;
}

.item {
	background: #FFFFFF;
	color: #111;
	width: 250px;
	padding: 10px 30px;
	line-height: 10px;
	margin: 0px;
}

.item.checkbox {
	background: #FFFFFF url('../assets/checkbox-inactive.png') no-repeat;
}

.item.checkbox:hover {
	background: #114662 url('../assets/checkbox-inactive-hover.png') no-repeat;
}

.item.checkbox.active {
	background: #FFFFFF url('../assets/checkbox-active.png') no-repeat;
}

.item.checkbox.active:hover {
	background: #114662 url('../assets/checkbox-active-hover.png') no-repeat;
}

.item.clickable { cursor: pointer; }

.item.clickable:hover {
	background-color: #114662 !important;
	color: #FFF;
}

.item.clickable:active {
	background-color: #082230 !important;
	color: #FFF;
}

.item.grayed {
	color: #888;
}

.bold { font-weight: bold; }
.hidden { display: none; }
